body {
  background-color: #ddd;
  color: #333;
}
header, footer, section, h2 {
  margin: auto;
  max-width: 1024px;
}
header, footer, h2 {
  padding: 0 18px;
}
h1, h3 {
  flex-grow: 100;
  margin-bottom: 0px;
  color: #ffc599;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 0;
}
.grid.band {
  gap: 0;
}
.dark {
  background-color: #333;
  color: #ddd;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 4px #777;
  border-radius: 4px;
}
.dark.band {
  margin: 24px 0;
  border-radius: 0;
}
.dark.band, #examples article {
  transition: background-color 0.4s ease-in-out;
}
.dark.band:hover, #examples article:hover {
  background-color: #222;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 12px;
}
article > * {
  padding: 3px 6px;
}
article a:first-of-type {
  flex-grow: 100;
}
.description {
  margin: 24px 0 12px 0;
}

.flex-a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  color: #bfdeff;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
a:hover {
  color: #eee;
  text-decoration: none;
}

.github-element {
  border-top: 1px solid #777;
  margin-top: 6px;
  padding: 6px;
  background-color: #222;
  transition: background-color 0.4s ease-in-out;
  border-radius: 0 0 4px 4px;
}
.github-element:hover {
  background-color: #1a1a1a;
}
.code-info {
  color: #68ca99;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

img {
  max-width: 100%;
  border-radius: 3px;
}

ul {
  margin-top: 6px;
  list-style-type: none;
  padding-left: 6px;
}
li {
  white-space: nowrap;
}
li i {
  display: inline-block;
  min-width: 20px;
  text-align: center;
}
li span, li a {
  padding-left: 12px;
}

.light {
  background-color: #ddd;
  color: #333;
}

#examples {
  margin: 12px auto;
}

@media only screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
  header, section, footer, h2 {
    max-width: 570px;
  }
}

@media only screen and (max-width: 400px) {
  header, footer, h2 {
    padding: 0 6px;
  }
  #skills-list i {
    display: none;
  }
  #skills-list span {
    padding-left: 0;
  }
  article {
    margin: 0;
  }
}

@media only screen and (max-width: 355px) {
  #skills-list {
    font-size: 14px;
  }
}